<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Website essentials -->
    <%= stylesheet_link_tag "home" %>
    <%= javascript_include_tag('parallax.js') %>
    <%= stylesheet_link_tag "footer" %>
  </head>

  <body>
    <!-- Parallax img -->
    <div class="parallax-container">
      <div class="parallax"><img src="<%= asset_path("logga.jpg") %>"></div>
    </div>

    <!-- Parallax Text -->
    <div class="section white text">
      <div class="row container ">
        <h2 class="header">Vårt Arbete</h2>
        <p class="grey-text text-darken-3 lighten-3"> Vi bakom På Bar Backe vill bringa uppmärksamhet till Göteborgs mest utsatta människor. Eftersom vi i grunden är ett välgörenhetsföretag så är vårt största mål att dra vårt strå till stacken. Men eftersom frågan om hemlösa i Göteborg är en fråga vi vill lyfta så är all publicitet positivt. Därför kommer vi även delta i de nationella UF-tävlingarna. Vi som elever på ett IT-Gymnasium är inte experter på hemlöshet eller hur man arbetar emot den. Men vi brinner ändå för att alla, till slut, ska ha ett varmt och torrt ställe att kalla hem. Därför har vi tagit fram en tygpåse där större delen av vinsten kommer gå till välgörenhetsorganisation så som stadsmission och tidskriften faktum.</p>
      </div>
    </div>

  </body>
</html>
