// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {

}

.modal {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: yellow;
  border-radius: 10px;
}


.padding-right {
  padding-right: 5%;
}

.padding-left {
  padding-left: 5%;
}

.logo {
  font-family: monospace;
  font-size: 200%;
}

.parallax img {
  width: 50%;
}

.text {
  border-style: solid;
  border-width: 2px 0 0px 0;
  border-color: yellow;
}

/* label focus color */
.input-field input[type=email]:focus + label {
  color: yellow;
}
/* label underline focus color */
.input-field input[type=email]:focus {
  border-bottom: 1px solid yellow;
  box-shadow: 0 1px 0 0 yellow;
}
/* valid color */
.input-field input[type=email].valid {
  border-bottom: 1px solid yellow;
  box-shadow: 0 1px 0 0 yellow;
}
/* invalid color */
.input-field input[type=email].invalid {
  border-bottom: 1px solid yellow;
  box-shadow: 0 1px 0 0 yellow;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: yellow;
}
