// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  display: flex;
  padding-left: 18%;
  padding-right: 18%;
}
.img-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 65%;
  padding-top: 10%;
}

.img-container img {
  display: block;
  margin: 0 auto;
  width: 70%;
  padding: 4%;
}

.side-text {
  padding-top: 18%;
  flex: 1;
}

.cutoff {
  margin-top: 8%;
  width: 80%;
  height: 0.1%;
  background-color: grey;
}
