

main {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 5%;
  padding-bottom: 6%;
}

form {
  border-radius: 15px;
  padding-right: 4%;
  padding-left: 4%;
  padding-top: 6%;
  padding-bottom: 6%;
}
.input-field:focus {
  border-bottom: 1px solid yellow !important;
  box-shadow: 0 1px 0 0 yellow !important;
  color: #FFFFFF;
}

main div img {
  width: 35%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main div div h3 {
  text-align: center;
}

main div div .cutoff {
  height: 0.1vh;
  width: 30%;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
}

main h1,h3,p{
  text-align: center;
}
