

main {
  margin-left: 22%;
  margin-right: 22%;
}

h3 {
  text-align: center;
}

.team {
  padding-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team div {
  justify-content: center;
}

.team div img {
  width: 80%;
  border-radius: 1px;
  border: solid;
  justify-content: center;
  margin: 2%;
  border-color: yellow;
  border-radius: 50%;
}

h5 {
  font-family: 'Poppins', sans-serif;
}

.cutoff {
  margin-bottom: 3%;
  background-color: grey;
  width:100%;
  height:1px;
}

.forsnack {
  padding-bottom: 75px;
}

.forsnack img {
  width: 7vw;
  align-self: center;
  float:right;
  height: auto;
  padding-right: 8px;
}

p {
  font-family: 'Roboto', sans-serif;
}

.first:last-child:first-letter {
  color: #f0c800;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 5px;
  padding-left: 3px;
}

.vd {
  margin-left: 15vw;
  padding-bottom: 15vh;
}
.vd p {
  text-align: right;
}

.vd h5 {
  text-align: right;
}

@media only screen and (max-width: 1400px) {
  .forsnack img {
    width: 12vw;
  }
}

@media only screen and (max-width: 900px) {
  .forsnack img {
    width: 20vw;
  }
}

@media only screen and (max-width: 600px) {
  .forsnack img {
    display: none;
  }


}
