

main {
  margin-left: 22%;
  margin-right: 22%;
}
.team {
  padding-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team img {
  width: 15%;
  border-radius: 1px;
  border: solid;
  margin: 2%;
  border-color: yellow;
  border-radius: 50%;
}

.cutoff {
  margin-bottom: 3%;
  background-color: grey;
  text-align:center;
  line-height:1px;
  width:100%;
  height:1px;
}

.textblock {
  background-color: white;
}
