<!DOCTYPE html>
<html>
  <head>
    <title>PaBarBacke</title>
    <%= csrf_meta_tags %>

    <!--<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gulp/3.8.5/gulp.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag :application %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
